*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body {
    direction: rtl;
}

ul,ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.container{
   max-width: 1560px;
   margin: 0 auto;
}

.header{
    background-color: black;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-container{
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.main-navbar .navbar {
    display: flex;
}

.main-navbar li {
    font-size: 18px;
padding: 0 25px;
}

.main-navbar li a {
    color: white;
    transition: all .3s;
}

.main-navbar li:first-child {
    padding-right: 0;
}

.main-navbar li a {
    color: white;
}

.main-navbar li a:hover {
    color: red;
    border-bottom:   2px solid rgb(228, 8, 8);
}

.nav-logo {
    font-size: 35px;
    font-family: 'Ephesis', cursive;
}

.welcome{
    min-height: 100vh;
  background:url('../image/29acb4e48e2b20d6945dfff4654e0ebb.jpg') no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
    color: white;
    font-size: 95px;
    padding-bottom: 5px;
    padding-right: 60px;
    text-shadow: 0px 5px 10px black;
}
.title-h4 h4{
    color: white;
    font-size: 40px;
    padding-right: 20px;
    text-shadow: 0px 5px 10px black;
}

.quick-access {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    border: 1px solid white;
    display: block;
    height: 50px;
    padding: 10px 0px;
   
}

.quick-access a:hover {
    color: rgb(255, 0, 0);
    transition: .1s;
    border-bottom: 1px solid red;
}

.Description {
    background:url('../image/R\ \(5\).jpg') no-repeat center/cover;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 50px;
}




.Explanation {
    color: white;
    font-size: 30px;
 
}

.fonts {
    font-family: 'Ephesis', cursive;
}

.menu { 
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, minmax(155,auto));
    grid-gap: 10px;
}


.fruits {
    margin-top: 43px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.Order {
    background:url('../image/R\ \(6\).jpg') no-repeat center/cover;
    color: white;
    font-size: 20px;
}

.text-align {
    text-align: center;
}

.form {
    padding-top: 20px;
}

 input {
    padding-right: 10px;
   font-size: 15px;
   font-weight: 900;
}

.text-align .form input {
    border-radius: 3px;
}

.form-buttom {
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 10px 0;
    border-radius: 6px;
    width: 20%;
}

.share {
    background:url('../image/R\ \(7\).jpg') no-repeat center/cover;
    padding-right: 650px;
}

.apps {
    list-style: none;
    margin: 10px 40px;
    display:inline-block;
    font-size: 20px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 5, 5);
    border-radius: 25%;
}

.share li:hover {
    color: rgb(255, 0, 0);
    transition: .1s;
}