div{
    border-style:solid ;
    border-width: 30px;
  border-color: rgb(161, 158, 158);
    width: 450px;
    height:200px;
 
}
.e1 {
    background-color: rgb(122, 12, 12);
    margin-bottom: 50px ;
    margin-left: 500px;
    margin-right: 5px ;     
    
}
.e2 {
    background-image: url(../image/sm_nyc_banner.jpg);
    margin-bottom: 50px ;
    margin-left: 500px;
    margin-right: 5px ;   
}
.e3 {
    background-image: url(../image/sm_nyc_banner.jpg);
  padding: 20px 0px 0px 0px;
  margin-bottom: 50px ;
  margin-left: 500px;
  margin-right: 5px ;  
}
.e4 {
  background-image: url(../image/sm_nyc_banner.jpg);
  padding: 20px 0px 0px 0px;
  margin-bottom: 50px ;
  margin-left: 500px;
  margin-right: 5px ;  
   
}
.e5 {
  background-position: right;
}




