.p0 {
    text-align: left;
    background-color: #1c3652;
}
.p {
    font-size: 40px;
    text-align: center;
    color: white;
}
.p2 {
    text-align: center;
    color: #af9152;
    
}
.p3 {
    color: #c4d2e0;
    font-size: 36px;
    text-align: center;
}
.p4 {
    background-color:#1c3652 ;
    color: white;
}
.p5 {
 background-color: #ced3da;
 font-size: 20px;
}
.p6 {
    font-size: 30px;
    text-align: center;
}
.p7 {
    background-color:#eae7dd  ;
    font-size: 20px;
}
.p07 {
    color: #af9152;
    font-size: 30px;
    text-align: center;
}
.p007 {
    background-color:#1c3652 ;
    color: white;
}
.p8 {
    font-size: 25px;
    text-align: center;
}
.p08 {
    font-size: 24px;
}
.p9 {
    text-align: center;
    font-size: 20px;
}
.p10 {
    text-align: center;
    color: white;
    font-size: 20px;
}
.e1 {
    text-align: center;
    background-color: #1c3652;
    color: white;
    font-size: 25px;
}
.e3 {
background-color: #907300;
}
.e2 {
    font-size: 22px;
}
.e4 {
    font-size: 30px;
}
.e5 {
    background-color:  #c4d2e0 ;
}
.e6 {
    font-size: 20px;
}
.m1 {
    font-size: 18px;
}
